/*
Theme: PorteAil - avec menu
Version: 0.1
Author: Olivier DOSSMANN
Author URI: http://olivier.dossmann.net
Project: PorteAil
Project URI: http://porteail.e-mergence.org
 */
html, body {
height: 100%;
width: 100%;
min-width: 300px;
margin: 0;
padding: 0;
}

/* BASE */
a:link {
text-decoration: underline;
}

a:visited {
}

a:hover {
}

p {
padding: 5px;
}

h2 {
width: 94%;
padding-left: 2%;
margin-left: 1%;
border-bottom: solid;
border-left: solid;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-border-radius: 10px;
}

h3 {
width: 92%;
padding-left: 3%;
margin-left: 1%;
border-bottom: solid;
border-left: solid;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-border-radius: 12px;
}

/* ENTÊTE DE PAGE */
#chapeau {
position: relative;
margin: 0;
padding: 0;
height: 50px;
width: 78%;
top: 0;
left: 1%;
text-align: center;
font-size: 120%;
line-height: 15%;
-moz-border-radius-bottomright: 25px;
border-bottom-left-radius: 25px;
-webkit-border-radius-bottomright: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-right-radius: 25px;
-webkit-border-radius-bottomleft: 25px;
}

#chapeau h1 {
margin: 0;
padding: 0;
height: 50px;
line-height: 50px;
}

/* CONTENU */
#corps {
position: relative;
width: 78%;
left: 2%;
}

/* CATÉGORIES */
#corps ul.ensemble_element {
min-height: 10em;
list-style-type: none;
padding: 0 5px;
}

/* ÉLÉMENT */
#corps a.cadre {
height: 9em;
width: 11em;
margin: 0 5px 10px 5px;
float: left;
border: thin solid #000000;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-box-shadow: 1px 1px 8px #000000;
box-shadow: 1px 1px 8px #000000;
-webkit-box-shadow: 1px 1px 8px #000000;
overflow: hidden;
text-align: center;
text-decoration: none;
}

#corps a.cadre:hover {
}

#corps a.cadre .element {
display: block;
height: 9em;
margin-top: 1em;
}

#corps a.cadre .element img {
margin-top: 2em;
margin-right: auto;
margin-left: auto;
border: 0;
}

/* espace en fin de catégorie  */
#corps .espace {
clear: both;
}

/* MENU */
#cartable {
position: absolute;
height: auto;
width: 20%;
top: 90px;
right: 0;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;
-webkit-border-radius-topleft: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-webkit-border-radius-bottomleft: 25px;
overflow: hidden;
}

#cartable h3 {
width: 90%;
text-align: center;
border-bottom: solid;
border-left: solid;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-border-radius: 12px;
}

#cartable a:link {
text-decoration: underline;
}

#cartable a:visited {
}

#cartable a:hover {
}

/* ENQUEUE DE PAGE */
#soulier {
position: relative;
top: 5px;
right: 5px;
height: 20px;
width: 98%;
}

#soulier p {
margin: 0;
padding: 0;
font-size: 10px;
text-align: center;
}

/* DIVERS */
/* permet de cacher les points virgules en fin de LI */
.cache_cache {
display: none;
}
