/*
Theme: PorteAil - Blue appearance
Version: 0.1
Author: Olivier DOSSMANN
Author URI: http://olivier.dossmann.net
Project: PorteAil
Project URI: http://porteail.e-mergence.org
 */
html, body {
background-color: #e9ecf4;
color: #223355;
}

/* BASE */
a:link {
color: #6276a4;
}

a:visited {
color: #6276a4;
}

a:hover {
background-color: #6276a4;
color: #ffffff;
}

h2 {
color: #555577;
}

h3 {
color: #555577;
}

/* HEADER */
header {
background-color: #223355;
color: #ffffff;
}
/* CONTENT */
/* element overview */
#corps a.cadre:hover {
background-color: #223355;
color: #ffffff;
}

/* MENU */
nav#cartable {
background-color: #223355;
color: #ffffff;
}

nav#cartable h3 {
color: #ffffff;
border-color: #ffffff;
}

nav#cartable a:link {
color: #aaaabb;
}

nav#cartable a:visited {
color: #aaaabb;
}

nav#cartable a:hover {
background-color: #aaaabb;
color: #223355;
}

/* FOOTER */
footer {
color: #000000;
}
