/*
Theme: PorteAil - apparence noire
Version: 0.1
Author: Olivier DOSSMANN
Author URI: http://olivier.dossmann.net
Project: PorteAil
Project URI: http://porteail.e-mergence.org
 */
html, body {
background-color: #ffffff;
color: #000000;
}

/* BASE */
a:link {
color: #6276a4;
}

a:visited {
color: #6276a4;
}

a:hover {
background-color: #6276a4;
color: #ffffff;
}

h2 {
color: #000000;
}

h3 {
color: #000000;
}

/* ENTÊTE DE PAGE */
header {
background-color: #000000;
color: #ffffff;
}

/* CONTENU */
/* survol d'un élément */
#corps a.cadre:hover {
background-color: #000000;
color: #ffffff;
}

/* MENU */
nav#cartable {
background-color: #000000;
color: #ffffff;
}

nav#cartable h3 {
color: #ffffff;
border-color: #ffffff;
}

nav#cartable a:link {
color: #aaaabb;
}

nav#cartable a:visited {
color: #aaaabb;
}

nav#cartable a:hover {
background-color: #aaaabb;
color: #223355;
}

/* ENQUEUE DE PAGE */
footer {
color: #000000;
}
