html, body {
background-color: #ffffff;
color: #000000;
}

a:link {
color: #6276a4;
}

a:visited {
color: #6276a4;
}

a:hover {
background-color: #6276a4;
color: #ffffff;
}

h2 {
color: #000000;
}

h3 {
color: #000000;
}

div#chapeau {
background-color: #000000;
color: #ffffff;
}

div#corps a.cadre:hover {
background-color: #000000;
color: #ffffff;
}

div#cartable {
background-color: #000000;
color: #ffffff;
}

div#cartable h3 {
color: #ffffff;
border-color: #ffffff;
}

div#cartable a:link {
color: #aaaabb;
}

div#cartable a:visited {
color: #aaaabb;
}

div#cartable a:hover {
background-color: #aaaabb;
color: #223355;
}

div#soulier {
color: #000000;
}
