.element {
display: block;
height: 9em;
width: 11em;
margin: 0 5px 10px 5px;
float: left;
border: thin solid #000000;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-box-shadow: 1px 1px 8px #000000;
box-shadow: 1px 1px 8px #000000;
-webkit-box-shadow: 1px 1px 8px #000000;
text-align: center;
}

.element a {
display: block;
height: 9em;
width: 11em;
margin: 0;
float: left;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-border-radius: 15px;
overflow: hidden;
text-align: center;
}

.element img {
background-color: red;
display: block;
position: relative;
width: 3em;
height: 3em;
top: -4em;
left: 4em;
}

a:hover {
background-color: lightblue;
}

